<h2>Projects</h2>
<br>
<ol>
  <% if @projects.empty? %>
  <li>No projects.</li>
  <% end %>
<% @projects.each do |project| %>
<li>
  <%= link_to project.title,  project_path(project) %>
  <span>
    <%= link_to '-Destroy', project,
                method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  <span>
  <%= link_to 'Edit',  edit_project_path(project) %>
</span>
</li>
<% end %>
</ol>


