<h2>Projects</h2>
<br>
<br>
    <button id='projects-data'>See All Upcoming Projects</button>
    <br><br>
    <div id='ajax-projects'></div>
<br>


<% @projects.each do |f| %>
    
    <div id="<%=f.id%>" >
    <li>
    <%= link_to "#{f.title}" " - Click here for details!", api_project_path(f), class: "project-show-link" %>
  
    <%= link_to '-Delete', project_path(f),
                method: :delete, data: { confirm: 'Are you sure?' } %>
   
    </li>
    <br>
    </div>
    <% end %>
    </div>

